extends layout

block content
	.container
		h1 Applicants
		ul#applications.list-unstyled
		for applicant in results
			li.applicant-info
				br
				div Name: #{applicant.name}
				div Bio: #{applicant.bio}
				div Skills: #{applicant.skills}
				div Years: #{applicant.years}
				div Why: #{applicant.why}
				
